* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
/*li {
   font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#okno {
   font-family: "Comic Sans MS", "Comic Sans", cursive;
}*/

body {
   background: #15191D;
   /*background-attachment: fixed;*/
   background-repeat: no-repeat;
   background-position: center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: #fff;
   min-height: 100vh;
   font-family: "Roboto", Helvetica;
   /*font-family: Arial, Helvetica, sans-serif;*/
   font-size: 18px;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
a {
   color: #fff;
   text-decoration: none;
   font-weight: 600;
}
header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 20;
   height: 115px;
   background: #040506;
   background: rgba(0,0,0,0.85);
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 24px;
}
.container {
   width: 100%;
   max-width: 1180px;
   margin: 0 auto;
   position: relative;
}
.content-wrapper {
   width: 100%;
   margin-top: 78px;
   padding: 10px;
   line-height: 34px;
}
/*.content-wrapper__container{
   background-color: #c4c4c449;
}*/
.header__nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header__menu {
   display: flex;
   position: relative;
   z-index: 2;
}
.header__menu li {
   list-style: none;
   margin: 0px 0px 0px 36px;
   font-size: 24px;
   text-transform: uppercase;
   text-decoration: none;
}
.header__logo {
   /*height: 40px;*/
}
.header__logo:hover {
   transition: transform 1s ease;
   transform: translateY(20px);
}
.header__logo:not(:hover) {
   transition: 1s;
}
.menu__item:hover {
   color: rgb(95, 95, 95);
   transition: all 0.3s ease;
}
.header__social {
   display: flex;
}
.email {
   display: flex;
   margin-top: -18px;
   padding: 17px 24px;
   width: 201px;
   height: 50px;
   background: #1e2532;
   border-radius: 10px;
   color: white;
   opacity: 1;
}
.email:hover {
   opacity: 0.8;
   transition: all 0.5s ease 0s;
}
.photo__main {
   margin: auto;
}
.photo__group {
   max-width: 1200px;
   max-height: 1100px;
}
.content_product{
   max-width: 200px;
   max-height: 300px;
}
.content__contacts{
   min-width: 100vh;
   background: url("../img/background5.jpg") top / cover no-repeat; 
}
.content-under-contacts{
   margin-bottom: 20px;
   padding-top: 200px;
}
.content-text h1{
   font-size: 36px;
   margin-bottom: 20px;
   padding: 20px 0 10px 0;
}
.content-text p {
   font-size: 24px;
   padding-bottom: 5px;
}
.content-icons{
   padding-top: 20px;
   margin: 10px 0 10px 0;
}
.content-button{
   padding-top: 20px;
}
.invisible-text{
   color: #15191D;
   padding-top: 230px;
}

.vk{
   margin: 0 25px 0 0;
   border-radius: 10px;

   position: relative;
   top: 0;
   transition: 0.2s linear;
}
.vk:hover {
   transition: all 0.4s ease 0s;
   background: #516D94;
   box-shadow: 0 22px 50px 15px rgb(0, 60, 255);
   top:-10px;
}
.vk:not(:hover) {
   transition: 0.8s;
}

.what{
   margin: 0 25px 0 0;
   border-radius: 10px;

   position: relative;
   top: 0;
   transition: 0.2s linear;
}
.what:hover {
   transition: all 0.4s ease 0s;
   background: #3FB054;
   box-shadow: 0 22px 50px 15px rgb(0, 255, 42);
   top:-10px;
}
.what:not(:hover) {
   transition: 0.5s;
}

.viber{
   margin: 0 25px 0 0;
   border-radius: 10px;

   position: relative;
   top: 0;
   transition: 0.5s linear;
}
.viber:hover {
   transition: all 0.4s ease 0s;
   background: #7B519D;
   box-shadow: 0 22px 50px 15px rgb(255, 0, 204);
   top:-10px;
}
.viber:not(:hover) {
   transition: 0.5s;
}

#zatemnenie {
   background: rgba(102, 102, 102, 0.801);
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   display: none;
   position: fixed;
   z-index: 100;
}
#okno {
   width: 30%;
   height: 45%;
   text-align: center;
   padding: 15px;
   border: 1px solid black;
   border-radius: 10px;
   color: black;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   background: #fff;
   position: fixed;
   z-index: 100;
}
#zatemnenie:target {
   display: block;
   position: fixed;
}
.close {
   cursor: pointer;
   position: relative;
   display: flex;
   justify-content: flex-end;
   top: -35px;
   left: 13px;
   height: 40px;
}
input {
   border: 2px solid #000;
   margin-bottom: 20px;
   height: 30px;
}
.button {
   border-radius: 10px;
   color: white;
   background-color: black;
   height: 50px;
   width: 60%;
   font-size: 20px;
}
.footer__main {
   background-color: #292c2f;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
   box-sizing: border-box;
   min-width: 100%;
   text-align: left;
   font: normal 16px sans-serif;
   padding: 45px 50px;
}
.footer__main .footer-left p {
   color: #8f9296;
   font-size: 14px;
   margin: 0;
}
.footer__main p.footer-links {
   font-size: 18px;
   font-weight: bold;
   color: #ffffff;
   margin: 0 0 10px;
   padding: 0;
   transition: ease 0.25s;
}
.footer__main p.footer-links a {
   display: inline-block;
   line-height: 1.8;
   text-decoration: none;
   color: inherit;
   transition: ease 0.25s;
}
.footer__main .footer-links a:before {
   content: "·";
   font-size: 20px;
   left: 0;
   color: #fff;
   display: inline-block;
   padding-right: 5px;
}
.footer__main .footer-links .link-1:before {
   content: none;
}
.footer__main .footer-right {
   float: right;
   margin-top: 6px;
   max-width: 180px;
}
.footer__main .footer-right a {
   display: inline-block;
   width: 35px;
   height: 35px;
   background-color: white;
   border-radius: 4px;
   font-size: 20px;
   color: #ffffff;
   text-align: center;
   line-height: 35px;
   margin-left: 3px;
   transition: all 0.25s;
   padding-top: 2px;
}
.footer__main .footer-right a:hover {
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
}
.footer__main p.footer-links a:hover {
   text-decoration: underline;
}
h1,
h2,
h3 {
   font-weight: bold;
}
h3 {
   font-size: 30px;
}
.photo__main {
   max-width: 1200px;
   max-height: 3200px;
}
.form__body {
   position: relative;
}
.form__body::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(51, 51, 51, 0.9) url("../img/hug.gif") center / 50px no-repeat;
   opacity: 0;
   visibility: hidden;
   transition: all 0.5s ease 0s;
}
.form__body._sending::after {
   opacity: 1;
   visibility: visible;
}



.main__content {
   grid-area: main;
   padding: 30px 15px;
   display: grid;
   grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}
.sidebar {
   background-color: lightsalmon;
   grid-column: 2/3;
}
.sidebar__list {
}
.sidebar__items {
}
.main-content {
   display: grid;
   grid-column: 3/4;
   margin: 0 0 0 20px;
}
.main__header {
}
.main__products {
   display: grid;
   column-gap: 30px;
   row-gap: 50px;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.main__product {
   background: #c4c4c445;
   display: grid;
   grid-auto-flow: row;
   grid-template: auto 1fr minmax(40px, auto) / 1fr;
}
.text-product{
   margin: 0 10px 0px 10px;
}
.button-product{
   max-width: 320px;
   margin: 0 10px 10px 10px;
}
.product__img {
   position: relative;
   padding: 0px 0px 90% 0px;
   margin: 0px 0px 20px 0px;
}
.product__img img {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
}

.main__items {
   display: grid;
   grid-auto-flow: row;
   padding: 15px 0;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.main__item {
   position: relative;
   display: grid;
   padding: 10px 0px 85% 0px;
}
.big__item {
   grid-row: 2 span;
   grid-column: 2 span;
}
.main__item img {
   position: absolute;
   left: 0;
   top: 0;
   object-fit: cover;
   width: 100%;
   height: 100%;
}
.footer {
   grid-area: footer;
   background-color: mediumpurple;
}

/* Основные стили */
.wave-btn {
   width: 280px;
   height: 60px;
   display: flex;
   overflow: hidden;
   position: relative;
   transition: all 0.8s ease 0s;
   justify-content: center;
   align-items: center;
   border-radius: 0 0 10px 10px;
   text-decoration: none;
}

.wave-btn:hover {
   border-radius: 10px;
   transition: all 0.8s ease 0.2s;
   box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}
.wave-btn:hover .wave-btn__waves {
   top: -50px;
}

.wave-btn__text {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 2px;
   position: relative;
   z-index: 1;
}
.wave-btn__waves {
   position: absolute;
   width: 280px;
   height: 280px;
   background-color: #4973ff;
   top: 0;
   left: 0;
   box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
   transition: all 0.8s ease 0s;
}
.wave-btn__waves:after,
.wave-btn__waves:before {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   width: 250%;
   height: 250%;
   transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves:before {
   background-color: #000;
   border-radius: 48%;
   animation: waves 5s infinite linear;
}
.wave-btn__waves:after {
   background-color: #15191df0;
   border-radius: 44%;
   animation: waves 10s infinite linear;
}

@keyframes waves {
   0% {
      transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
   }
   100% {
      transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
   }
}
@-webkit-keyframes waves {
   0% {
      transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
   }
   100% {
      transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
   }
}
@-moz-keyframes waves {
   0% {
      transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
   }
   100% {
      transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
   }
}
@-o-keyframes waves {
   0% {
      transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
   }
   100% {
      transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
   }
}

@media (max-width: 1142px) {
   #okno {
      width: 450px;
      height: 300px;
   }
}
@media (max-width: 729px) {
   #okno {
      width: 350px;
      height: 300px;
   }
}
@media (max-width: 420px) {
   #okno {
      width: 300px;
      height: 420px;
   }
   .input {
      margin-top: 5px;
   }
   .input__active {
      height: 70px;
      width: 220px;
   }
}
@media (max-width: 746px) {
}
@media (max-width: 874px) {
   .photo__main {
      max-width: 900px;
      max-height: 900px;
   }
   .menu-burger__header {
      position: relative;
      width: 40px;
      height: 35px;
      display: block;
      margin-left: 10px;
   }
   .menu-burger__header span,
   .menu-burger__header:after,
   .menu-burger__header:before {
      height: 3px;
      width: 100%;
      position: absolute;
      background: #515758;
      margin: 0 auto;
   }
   .menu-burger__header span {
      top: 16px;
   }
   .menu-burger__header:after,
   .menu-burger__header:before {
      content: "";
   }
   .menu-burger__header:after {
      bottom: 5px;
      transition: all 0.4s ease 0s;
   }
   .menu-burger__header:before {
      top: 5px;
      transition: all 0.4s ease 0s;
   }
   .header__nav {
      display: block;
      position: absolute;
      top: 55px;
      left: 0;
      background: rgb(245, 246, 246);
      box-shadow: #ccc;
      width: 100%;
      box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
      left: -100%;
      transition: all 0.5s ease;
   }
   .header__nav.open-menu {
      left: 0%;
   }
   .header__menu {
      display: block;
   }
   .header__menu li {
      margin: 40px 0px 40px 33px;
      font-size: 14px;
   }
   .menu-burger__header.open-menu span {
      opacity: 0;
      transition: all 0.4s ease 0s;
   }
   .menu-burger__header.open-menu:before {
      transform: rotate(38deg);
      top: 16px;
      transition: all 0.4s ease 0s;
   }
   .menu-burger__header.open-menu:after {
      transform: rotate(-38deg);
      bottom: 16px;
      transition: all 0.4s ease 0s;
   }
   .fixed-page {
      overflow: hidden;
   }
   .email {
      margin-top: 0px;
      padding: 0px;
      display: inline-block;
      color: indianred;
      background-color: rgb(245, 246, 246);
      font-family: "Roboto", Helvetica;
      font-size: 16px;
   }
}
@media (max-width: 1160px) {
   .header__logo {
      display: none;
   }
}
@media (max-width: 1202px) {
   .photo__main {
      max-width: 1280px;
      max-height: 1000px;
   }
}
@media (max-width: 932px) {
   .photo__main {
      max-width: 930px;
      max-height: 900px;
   }
}
@media (max-width: 852px) {
   .photo__main {
      max-width: 880px;
      max-height: 800px;
   }
}
@media (max-width: 752px) {
   .photo__main {
      max-width: 700px;
      max-height: 650px;
   }
}
@media (max-width: 642px) {
   .photo__main {
      max-width: 550px;
      max-height: 500px;
   }
}
@media (max-width: 482px) {
   .photo__main {
      max-width: 480px;
      max-height: 400px;
   }
}
@media (max-width: 382px) {
   .photo__main {
      max-width: 380px;
      max-height: 300px;
   }
}
@media (max-width: 1181px) {
   .photo__group {
      max-width: 600px;
      max-height: 500px;
   }
}
@media (max-width: 639px) {
   .photo__group {
      max-width: 500px;
      max-height: 450px;
   }
}
@media (max-width: 541px) {
   .photo__group {
      max-width: 400px;
      max-height: 350px;
   }
}
@media (max-width: 443px) {
   .photo__group {
      max-width: 280px;
      max-height: 230px;
   }
}
@media (max-width: 583px) {
   .photo__second {
      max-width: 350px;
      max-height: 300px;
   }
}
@media (max-width: 383px) {
   .photo__second {
      max-width: 300px;
      max-height: 250px;
   }
}
