* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
/*li {
   font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#okno {
   font-family: "Comic Sans MS", "Comic Sans", cursive;
}*/

body {
   background: #15191D;
   /*background-attachment: fixed;*/
   background-repeat: no-repeat;
   background-position: center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: #fff;
   min-height: 100vh;
   font-family: "Roboto", Helvetica;
   /*font-family: Arial, Helvetica, sans-serif;*/
   font-size: 18px;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
a {
   color: #fff;
   text-decoration: none;
   font-weight: 600;
}
header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 20;
   height: 115px;
   background: #040506;
   background: rgba(0,0,0,0.85);
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 24px;
}
.wrapper{
   display: grid;
   min-height: 100vh;
   grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
   grid-template-areas:
      "header"
      "main"
      "footer";
}
.container {
   width: 100%;
   max-width: 1180px;
   margin: 0 auto;
   position: relative;
}
.content-wrapper {
   width: 100%;
   margin-top: 78px;
   padding: 10px;
   line-height: 34px;
}
/*.content-wrapper__container{
   background-color: #c4c4c449;
}*/

.header {
   grid-area: header;
   /*display: grid;
   grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;*/
}
.header__menu {
   grid-column: 3 / 4;
}
.header__list {
   display: grid;
   grid-auto-flow: column;
   justify-items: end;
   /* justify-content: end; */
}


.header__nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header__menu {
   display: flex;
   position: relative;
   z-index: 2;
}
.header__menu li {
   list-style: none;
   margin: 0px 0px 0px 36px;
   font-size: 24px;
   text-transform: uppercase;
   text-decoration: none;
}
.header__logo {
   /*height: 40px;*/
}
.header__logo:hover {
   transition: transform 1s ease;
   transform: translateY(20px);
}
.header__logo:not(:hover) {
   transition: 1s;
}


/* соц сети хэдер */

.header__logo-call{
   display: inline-block;
   position: relative;
   transition: 0.2s linear;
}
.header__logo-call:hover{
   transition: all 0.4s ease 0s;
   transform: skew(-20deg, 20deg);
}
.header__logo-call:not(:hover) {
   transition: 0.8s;
}

.header__logo-vk{
   display: inline-block;
   position: relative;
   transition: 0.2s linear;
}
.header__logo-vk:hover {
   transition: all 0.4s ease 0s;
   transform: scaleX(-1);
}
.header__logo-vk:not(:hover) {
   transition: 0.8s;
}

.header__logo-whatsapp{
   display: inline-block;
   position: relative;
   transition: 0.2s linear;
}
.header__logo-whatsapp:hover {
   transform: scale(1.2, 0.5);
   transition: all 0.4s ease 0s;
}
.header__logo-whatsapp:not(:hover) {
   transition: 0.8s;
}

.header__logo-viber{
   display: inline-block;
   position: relative;
   left: 0;
   transition: 0.5s linear;
}
.header__logo-viber:hover {
   transition: all 1s ease 0s;
   transform: rotate(540deg);
}
.header__logo-viber:not(:hover) {
   transition: 0.8s;
}




.menu__item-telephone{
   font-style: italic;
   letter-spacing: 1px;
   transform:rotate(10deg);
}
.menu__item-telephone:hover{
   color: rgb(95, 95, 95);
   transition: all 0.3s ease;
}
.menu__item:not(:hover) {
   transition: 0.5s;
}
.menu__item:hover {
   color: rgb(95, 95, 95);
   transition: all 0.3s ease;
}
.menu__item:not(:hover) {
   transition: 0.5s;
}
.header__social {
   display: flex;
}
.photo__main {
   margin: auto;
}
.photo__group {
   max-width: 1200px;
   max-height: 1100px;
}
.content_product{
   max-width: 200px;
   max-height: 300px;
}
.content__contacts{
   min-width: 100vh;
   background: url("../img/background5.jpg") top / cover no-repeat; 
}
.contacts-headline{
   font-size: 36px;
   padding-bottom: 10px;
}
.content-under-contacts{
   margin-bottom: 20px;
   padding-top: 200px;
}
.content-text h1{
   font-size: 36px;
   margin-bottom: 20px;
   padding: 20px 0 10px 0;
}
.content-text p {
   font-size: 24px;
   padding-bottom: 5px;
}
.content-icons:not(:last-child){
   padding-top: 20px;
   margin: 10px 0 10px 0;
}
.content-button{
   padding-top: 20px;
}
.invisible-text{
   color: #15191D;
   padding-top: 230px;
}

/*анимированные соц сети*/

.vk{
   margin: 0 25px 0 0;
   border-radius: 10px;

   position: relative;
   top: 0;
   transition: 0.2s linear;
}
.vk:hover {
   transition: all 0.4s ease 0s;
   background: #516D94;
   box-shadow: 0 22px 50px 15px rgb(0, 60, 255);
   top:-10px;
}
.vk:not(:hover) {
   transition: 0.8s;
}

.what{
   margin: 0 25px 0 0;
   border-radius: 10px;

   position: relative;
   top: 0;
   transition: 0.2s linear;
}
.what:hover {
   transition: all 0.4s ease 0s;
   background: #3FB054;
   box-shadow: 0 22px 50px 15px rgb(0, 255, 42);
   top:-10px;
}
.what:not(:hover) {
   transition: 0.5s;
}

.viber{
   margin: 0 25px 0 0;
   border-radius: 10px;

   position: relative;
   top: 0;
   transition: 0.5s linear;
}
.viber:hover {
   transition: all 0.4s ease 0s;
   background: #7B519D;
   box-shadow: 0 22px 50px 15px rgb(255, 0, 204);
   top:-10px;
}
.viber:not(:hover) {
   transition: 0.5s;
}

/*кнопка вызова*/
/*.shine-button {
   text-decoration: none;
   display: inline-block;
   padding: 10px 30px;
   margin: 10px 20px;
   position: relative;
   overflow: hidden;
   border: 2px solid #c4c4c4;
   border-radius: 8px;
   font-family: 'Montserrat', sans-serif;
   color: #fff;
   transition: .2s ease-in-out;
}
.shine-button:before {
   content: "";
   background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
   height: 50px;
   width: 50px;
   position: absolute;
   top: -8px;
   left: -75px;
   transform: skewX(-45deg);
}
.shine-button:hover {
   background: #557A95;
   color: #fff;
}
.shine-button:hover:before {
   left: 150px;
   transition: .5s ease-in-out;
}*/

.main__content {
   grid-area: main;
   padding: 30px 15px;
   display: grid;
   grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}
.sidebar {
   background-color: lightsalmon;
   grid-column: 2/3;
}
.main-content {
   display: grid;
   grid-column: 3/4;
   margin: 0 0 0 20px;
   padding-top: 40px;
}
.main__header {
}
.main__products {
   display: grid;
   column-gap: 30px;
   row-gap: 50px;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.main__product {
   background: #4C5866;
   /*#4C5866  #557A95 #202833*/
   display: grid;
   grid-auto-flow: row;
   grid-template: auto 1fr minmax(40px, auto) / 1fr;
}
.main__product:hover {
   background: #202833;
   transform: scale(1.05, 1.05);
   transition: all 0.6s ease;
}
.main__product:hover button {
   transition: all 0.4s ease;
   color: #fff;
   background: #557A95;
}
.main__product:not(:hover) {
   transition: 0.6s;
}
.text-product{
   margin: 0 10px 0px 10px;
}
.main__product button {
   border-radius: 5px;
   display: block;
   position: relative;
   left: 50%;
   transform: translate(-50%, 0);
}
.button-product{
   height: 40px;
   font-size: 16px;
   max-width: 320px;
   margin: 0 10px 10px 0px;
}
.product__img {
   position: relative;
   padding: 0px 0px 90% 0px;
   margin: 0px 0px 20px 0px;
}
.product__img img {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   object-fit:cover;
}

.main__items {
   display: grid;
   gap: 10px;
   grid-auto-flow: row;
   padding: 15px 0;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.main__item {
   position: relative;
   display: grid;
   padding: 10px 0px 85% 0px;
}
.big__item {
   grid-row: 2 span;
   grid-column: 2 span;
}
.main__item img {
   position: absolute;
   left: 0;
   top: 0;
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.headline{
   padding: 50px 0px 15px 0px;
   font-size: 36px;
   letter-spacing: -1.5px;
   /*font-style: oblique;*/
}
.list-video video{
   max-height: 50%;
   padding-right: 25px;
}

/* волнистая кнопка */
.wave-btn {
   width: 280px;
   height: 60px;
   display: flex;
   overflow: hidden;
   position: relative;
   transition: all 0.8s ease 0s;
   justify-content: center;
   align-items: center;
   border-radius: 0 0 10px 10px;
   text-decoration: none;
}

.wave-btn:hover {
   border-radius: 10px;
   transition: all 0.8s ease 0.2s;
   box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}
.wave-btn:hover .wave-btn__waves {
   top: -50px;
}

.wave-btn__text {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 2px;
   position: relative;
   z-index: 1;
}
.wave-btn__waves {
   position: absolute;
   width: 280px;
   height: 280px;
   background-color: #4973ff;
   top: 0;
   left: 0;
   box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
   transition: all 0.8s ease 0s;
}
.wave-btn__waves:after,
.wave-btn__waves:before {
   content: "";
   position: absolute;
   top: 0;
   left: 50%;
   width: 250%;
   height: 250%;
   transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves:before {
   background-color: #000;
   border-radius: 48%;
   animation: waves 5s infinite linear;
}
.wave-btn__waves:after {
   background-color: #15191df0;
   border-radius: 44%;
   animation: waves 10s infinite linear;
}

/*попап модальное окно*/

body.lock {
   overflow: hidden;
}
body.fixed-pade {
   overflow: hidden;
}
.popup {
   opacity: 0;
   visibility: hidden;
   position: fixed;
   z-index: 30;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.719);
   overflow-y: auto;
   overflow-x: hidden;
   transition: all 0.8s ease 0s;
}
.popup.open .popup__content {
   opacity: 1;
   transform: perspective(600px) translate(0px, 0) rotateX(0deg);
}

.popup.open {
   opacity: 1;
   visibility: visible;
}
.product__img{
   
}

.popup__body {
   min-height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30px 10px;
}
.popup__content {
   background-color: #fff;
   color: #000;
   max-width: 800px;
   padding: 30px;
   position: relative;
   transition: all 0.8s ease 0s;
   opacity: 0;
   transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__close {
   position: absolute;
   right: 10px;
   top: 10px;
   font-size: 25px;
   color: #000;
}
.popup__title {
   font-size: 40px;
   margin: 0px 0px 1em 0px;
}
.popup__main-content{
   display: flex;
   flex-wrap: wrap;
}
.popup-headline{
   display: flex;
   flex-direction: column;
}
.popup-headline__text p{
   padding-top: 15px;
   font-style: italic;
}
.popup__text{
   padding: 15px 30px 0px 0px;
}
.ingredient{
   font-size: 28px;
}
.recipe{
   font-size: 32px;
   padding: 15px 0px 0px 0px;
}
.remark{
   padding: 15px 0px 0px 0px;
   font-style: oblique;
}
.popup__img{
   display: flex;
   flex-wrap: wrap;
}
.popup__img img{
   width: 20%;
   padding-right: 10px;
}
.menu__item-photo {
   padding: 0px 0px 50% 0px;
   position: relative;
}
.menu__item-photo img {
   width: 100%;
   /*height: 100%;*/
   height: 50%;
   position: absolute;
   left: 0;
   top: 0;
   object-fit: cover;
}


/*анимация*/

@keyframes waves {
   0% {
      transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
   }
   100% {
      transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
   }
}
@-webkit-keyframes waves {
   0% {
      transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
   }
   100% {
      transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
   }
}
@-moz-keyframes waves {
   0% {
      transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
   }
   100% {
      transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
   }
}
@-o-keyframes waves {
   0% {
      transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
   }
   100% {
      transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
   }
}
/* ================ */
/*настройка разрешений*/

@media (min-width: 800px) {
   .big__item {
      grid-column: span 2;
      grid-row: span 2;
   }
}
@media (min-width: 992px) {
   .main-content {
      grid-area: main;
      display: grid;
   }
   .main-content {
      grid-column: 3 / 4;
   }
}
@media (max-width: 767px) {
   .header__logo{
      display: none;
   }
   .header__menu{
      padding-left: 20px;
   }
   .header__contac{
      padding-right: 20px;
   }
   
}
@media (max-width: 880px) {
   .header__social{
      display: none;
   }
   .content-under-contacts{
      max-width: 350px;
      margin: 0px auto;
   }
   .contacts-headline{
      text-align: center;
      font-size: 64px;
   }
   .content-text {
      text-align: center;
   }
   .content-icons{
      display: flex;
      justify-content: center;
   }
   .content-button{
      display: flex;
      justify-content: center;
   }
}
@media (min-width: 376px) and (max-width: 780px){
   .last-item{
      display: none;
   }
   
}