.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--header-z-index);
  background-color: rgba(0, 0, 0, 0.7);
  transition: transform var(--duration);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  transition: height var(--duration);

  @media (max-width: 576px) {
    height: 90px;
  }
}

.row {
  display: flex;
  align-items: center;
  height: 100%;
}