.videos_section {
  padding-bottom: 40px;
}

.headline{
  padding: 50px 0px 15px 0px;
  font-size: 36px;
  letter-spacing: -1.5px;
  /*font-style: oblique;*/

  @media(max-width: 430px) {
    font-size: 28px;
  }
}

.list_videos {
  display: grid;
  row-gap: 10px;
  column-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));

  @media (max-width: 1200px) {
    column-gap: 20px;
  }

  @media (max-width: 510px) {
    row-gap: 2px;
    column-gap: 5px;
    grid-template-columns: repeat(2, minmax(100px, 200px));
  }

  @media (max-width: 510px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.video_item {
  @media (max-width: 510px) {
    height: 80vh;
  }
}